svg {
    font-size: 14px;
}

.foreground path {
    fill: none;
    stroke-opacity: .5;
    stroke-width: 1.5;
}

.foreground path.fade {
    stroke: #000;
    stroke-opacity: .05;
}

.legend {
    font-size: 18px;
    font-style: oblique;
}

.legend line {
    stroke-width: 2px;
}

.species1 {
    stroke: #800;
}

.species2 {
    stroke: #080;
}

.species3 {
    stroke: #008;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis {
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
    cursor: move;
}

rect.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

rect.frame {
    fill: #fff;
    fill-opacity: .7;
    stroke: #aaa;
}

rect.species1{
    fill: #800;
}

rect.species2{
    fill: #080;
}

rect.species3{
    fill: #008;
}

circle {
    fill: #ccc;
    fill-opacity: .5;
}

.legend circle {
    fill-opacity: 1;
}

.legend text {
    font-size: 18px;
    font-style: oblique;
}

.cell text {
    pointer-events: none;
}

.chart rect {
    stroke: white;
}